/* Write your CSS here */
.tab-items-list {
  list-style-type: none;
}
.button {
  height: 30px;
  width: 100px;
  cursor: pointer;
  outline: none;
  border-style: none;
  color: #7b8794;
  box-shadow: 0px 0px 0px 1px #ffffff;
}
.underLineButton {
  color: #2563eb;
  border-bottom: 1px solid #2563eb;
  border-top: none;
  border-left: none;
  border-right: none;
  margin: 5px;
}
